<div>
    <h1>My wishlist items</h1>
    <button ng-click="vm.showWishForm()">Add New Wish Item</button>
    <div>
        <form ng-submit="vm.addNewWish()" class="wishForm" style="display: none">
            Name <input type="text" ng-model="vm.newWishTemp.name" required> <br>
            Precio <input type="number" ng-model="vm.newWishTemp.price" required> <br>
            Description <br>
            <textarea ng-model="vm.newWishTemp.description" required></textarea>
            <br/>
            Imagen: <input type="file" on-read-file="vm.showContent($fileContent)" required>
            <br/><img src="{{vm.newWishTemp.image}}" ng-class="{hide:vm.newWishTemp.image==''}" height="60" >
            <input type="submit" value="Add Wish"/><input type="button" value="Cancel"/>
        </form>
        <div>
            My Budget Limit: {{vm.budgetLimit|currency}},
            I spent {{vm.spentMoney|currency}}
        </div>
        <div>
            <div>Search <input type="text" ng-model="vm.searchQuery"></div>
            <div ng-repeat="wish in vm.wishes|filter:{status:0, name : vm.searchQuery} ">
                <div>{{wish.name}}  (<span>{{wish.price|currency}}</span>)</div>
                <div><img src="{{wish.image}}" height="100" ng-click="vm.openImg($event)"/></div>
                <div>Create: {{wish.createDate|timeago}}</div>
                <div>{{wish.description}} </div> 
                <div>
                    <button ng-click="vm.buy($event, wish)">Buy</button>
                    <button ng-click="vm.edit($event, wish)">Edit</button>
                </div>
            </div>
        </div>
    </div>
</div>